

.header {
    width:100vw;
    height:50px;
    background-color: white;
    float: left;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    display:flex;
    border-bottom: 1px solid silver;
    padding-top:5px;
    
    
}

.searchInput{
    position: relative;
    
}
.inputType {
    width: 200px;
    border: 1px solid silver;
    background-color:rgb(248, 245, 245);
    border-radius:2px;
}
.searchIcon {
    position: absolute;
    left:31%;
    top:30%;   
}
.inputType:focus ~ .searchIcon {
    left:5%;
    top:20%;  
    transition: left 1s ;
}
::placeholder {
    position: relative;
    left: 40%;
    
}
.inputType:focus ~ ::placeholder {
    left: 20%;
    transition: left 1s;
}
.icons{
    display:flex;
    justify-content:space-evenly;
    cursor: pointer;
    transform: scale(1.3);
    width: 200px;
    
}
.inboxIcon{
    transform: rotate(-40deg);
    margin-top: -1px;
}
.storyBar{
    margin-bottom: 20px;
}
.storyData{
    margin-left: 210px;
    width:600px;
    height: 110px;
    justify-self: space-between;
    display:flex;
    overflow: scroll;
    overflow-y: hidden;
    border: 1px solid silver;
    
}

.storyDP{
    height: 70px;
    width: 70px;
    border: 2px solid white;
    background:linear-gradient(to right,blue,red);
    border-radius:50%;
    margin-left: 10px;
    margin-top: 10px;
    padding: 3px;
    margin:5px;
    
    
}

.feed{
    margin-top: 80px;
    width: 600px;
    height: 550px;
    margin-left: 210px;
    left:210px;
    border: 1px solid silver;
    border-bottom: 1px solid silver;
    display:block;
}

.sidebar{
    background-color:pink;
    position: absolute;
    left: 850px;
    top: 100px;
    width:310px;
    height: 550px;
}
.postHead{
    display:flex;
    height: 60px;
}
.postHeadImage{
    
    width: 33%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid red;
    margin-top:10px;
    margin-left: 20px;
    padding: 3px;
}
.usernameText{
        margin-top: 20px;
        margin-left: 10px;
        font-weight: 600;
}
.usernameIcon{
        padding-top:20px;
        display:flex;
        margin-left: 356px;
        justify-content: space-around;
        cursor: pointer;
        width: 100px;
}
.postImg{
    width:598px;
    height:488px;
    
}
.likeComment{
    width: 600px;
    height: 50px;
    position: relative;
    
}
.postIcon{
    position: absolute;
    left:10px;
    top: 10px;
    width:20%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.bookmark{
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;
}
.likesCounter{
    position: relative;
    width: 600px;
    background-color:black;    
}
.likes{
    position: absolute;
    display:flex;
    font-weight: 700;
    left: 10px;
}